extends layout

block content
    h1 Quotes App

    div#container
        video#video-display(src="" autoplay) 

    div#quotes-display

        div.single-quote.hidden#main-quote
            //- div.single-quote.hidden#main-quote MAIN
            .quote-text
            .author-text

        div.single-quote.hidden.secondary-quote#a
            //- div.single-quote.hidden.secondary-quote#a AAAA
            .quote-text
            .author-text

        div.single-quote.hidden.secondary-quote#b
            //- div.single-quote.hidden.secondary-quote#b BBBB
            .quote-text
            .author-text

        div.single-quote.hidden.secondary-quote#c
            //- div.single-quote.hidden.secondary-quote#c CCCC
            .quote-text
            .author-text

        div.single-quote.hidden.secondary-quote#d
            //- div.single-quote.hidden.secondary-quote#d DDDD
            .quote-text
            .author-text

        
        div.single-quote.hidden.secondary-quote#e
            //- div.single-quote.hidden.secondary-quote#e EEEE
            .quote-text
            .author-text

        
        div.single-quote.hidden.secondary-quote#f
            //- div.single-quote.hidden.secondary-quote#f FFFF
            .quote-text
            .author-text

        
        div.single-quote.hidden.secondary-quote#g
            .quote-text
            .author-text

        
        //- div.single-quote.hidden.secondary-quote#h HHHH
        //-     .quote-text
        //-     .author-text

        
        //- div.single-quote.hidden.secondary-quote#i IIII
        //-     .quote-text
        //-     .author-text



