doctype html
html
    head
        title= title
        link(rel='stylesheet' href='/stylesheets/style.css')
        link(rel="stylesheet" href="/stylesheets/Barlow/font.css")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    body
        block content

        script(src="/socket.io/socket.io.js")  
        script(src="/javascripts/utils.js")
        script(src="/javascripts/algos.js")
        script(src="/javascripts/variables.js")
        script(src="/javascripts/fetchApi.js")
        script(src="/javascripts/playVideo.js")
        script(src="/javascripts/formSubmit.js") 
        script(src="/javascripts/index.js") 